.position-sticky{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navBarContainer{
    height: 7vh;
    width: 100%;
    background-color: #f2f1f1;
} 
.navbar{
    width: 100%;
}
.navBarHolder{
height: 100%;
width: 90%;

}