body{
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.gap30{
    gap: 30px;
}
.acenter{
    align-items: center;
}
.jcenter{
    justify-content: center;
}
.between{
    justify-content: space-between;
}

.img{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    
}

:root{
    --red-color:#FE475B;
    --purple-color:#2C1B48;
    --gray-color:#F4F4F4;
}
.bgc{
    background-color: #b5b2b2;
    color: white;
}
.tac{
    text-align: center;
}
.gap10{
    gap: 10px;
}